.home-window{
 background: linear-gradient(
  180deg, 
  #1b2a3a 0%,   
  #16212e 100%  
);

color: #cbd5e0;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}









