.members-setting-tab{
    /* background-color: red; */
    width: 100%;
    padding: 10px;
}


.member-setting-item{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 0.8rem;
  /* backdrop-filter: blur(8px); */
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.delete-member-button button{
    
    background: rgba(245, 50, 69, 0.8);

}

.delete-member-button button:hover{
    
  background: rgb(161, 24, 38);
  box-shadow: 0 0 15px rgba(220, 53, 69, 0.8);
}