@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*for map display*/
@import "leaflet/dist/leaflet.css";

* {
  font-family: Roboto;
}
body {
  margin: 0;
  background: linear-gradient(180deg, #1b2a3a 0%, #16212e 100%);
  background-attachment: fixed;
  
}
